* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1, p {
    text-align: center;
    margin: 30px;
}

#calculator {
    width: 400px;
    height: 450px;
    border: 2px solid black;
    border-radius: 10px;
    margin: 20px auto;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    justify-content: center;
    align-items: center;
}

#calculator > #display {
    border: 1px solid black;
    width: 380px;
    height: 40px;
    padding: 2px 5px;
    display: flex;
    align-items: center;
}

#calculator > #buttons {
    width: 380px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

.button {
    width: 110px;
    height: 60px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}